.scene {
  width: 100px;
  height: 100px;
  perspective: 600px; /* Increased perspective for better 3D effect */
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-50px);
  transition: transform 1s;
}

.cube.is-rolling {
  animation: roll 1.5s ease-out;
}

.cube__face {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 2px solid hsl(var(--primary));
  font-size: 16px; /* Smaller font for words */
  font-weight: bold;
  color: hsl(var(--primary-foreground));
  background: hsl(var(--primary));
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  box-sizing: border-box;
}

.cube[data-face="1"] { transform: translateZ(-50px) rotateY(0deg); }
.cube[data-face="2"] { transform: translateZ(-50px) rotateY(-90deg); }
.cube[data-face="3"] { transform: translateZ(-50px) rotateX(-90deg); }
.cube[data-face="4"] { transform: translateZ(-50px) rotateX(90deg); }
.cube[data-face="5"] { transform: translateZ(-50px) rotateY(90deg); }
.cube[data-face="6"] { transform: translateZ(-50px) rotateY(-180deg); }


.cube__face--1 { transform: rotateY(  0deg) translateZ(50px); } /* Front */
.cube__face--6 { transform: rotateY(180deg) translateZ(50px); } /* Back */
.cube__face--2 { transform: rotateY( 90deg) translateZ(50px); } /* Right */
.cube__face--5 { transform: rotateY(-90deg) translateZ(50px); } /* Left */
.cube__face--3 { transform: rotateX( 90deg) translateZ(50px); } /* Top */
.cube__face--4 { transform: rotateX(-90deg) translateZ(50px); } /* Bottom */


@keyframes roll {
  0% {
    transform: translateZ(-50px) rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: translateZ(-50px) rotateX(1080deg) rotateY(720deg);
  }
}
