.scene {
  width: 100px;
  height: 100px;
  perspective: 400px;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-50px);
  transition: transform 1s;
}

.cube.is-rolling {
  animation: roll 1.5s ease-out;
}

.cube__face {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 2px solid hsl(var(--primary));
  line-height: 100px;
  font-size: 40px;
  font-weight: bold;
  color: hsl(var(--primary-foreground));
  background: hsl(var(--primary));
  text-align: center;
}

.cube[data-face="1"] { transform: translateZ(-50px) rotateY(0deg); }
.cube[data-face="2"] { transform: translateZ(-50px) rotateX(-90deg); }
.cube[data-face="3"] { transform: translateZ(-50px) rotateY(-90deg); }
.cube[data-face="4"] { transform: translateZ(-50px) rotateY(90deg); }
.cube[data-face="5"] { transform: translateZ(-50px) rotateX(90deg); }
.cube[data-face="6"] { transform: translateZ(-50px) rotateY(-180deg); }


.cube__face--1 { transform: rotateY(  0deg) translateZ(50px); }
.cube__face--6 { transform: rotateY(180deg) translateZ(50px); }
.cube__face--2 { transform: rotateX( 90deg) translateZ(50px); }
.cube__face--5 { transform: rotateX(-90deg) translateZ(50px); }
.cube__face--3 { transform: rotateY( 90deg) translateZ(50px); }
.cube__face--4 { transform: rotateY(-90deg) translateZ(50px); }

@keyframes roll {
  0% {
    transform: translateZ(-50px) rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: translateZ(-50px) rotateX(1080deg) rotateY(720deg);
  }
}
